<link rel = "stylesheet/less" type = "text/css" href = "templates/about.less" />
<script src="js/less.min.js" type="text/javascript"></script>

<div id = 'about'>
    <div class="description">
        With more than a decade of experience in Foreign Exchange, we are one of the leading Money Exchangers in Mumbai. We buy and sell every currency for all your needs. We accept multiple modes of payment and provide efficient delivery options throughout Mumbai.
    </div>

    <div class="photo-grid">
        <div class="photo-grid-header">
            Our Team
        </div>
        <div class="photo-grid-data">
            <div class = 'photo-grid-cell'>
                <div class="image">
                    <img src="/images/director_placeholder.jpg">
                </div>
                <div class="data">
                    Mr. Bherulal Parekh<br>
                    Director<br>
                    +91 98200 20401
                </div>
            </div>

            <div class = 'photo-grid-cell'>
                <div class="image">
                    <img src="/images/director_placeholder.jpg">
                </div>
                <div class="data">
                    Mr. Nirmal Parekh<br>
                    Director<br>
                    +91 98696 15851
                </div>
            </div>
        </div>
    </div>
</div>