<link rel = "stylesheet/less" type = "text/css" href = "templates/contact.less" />
<script src="js/less.min.js" type="text/javascript"></script>

<div id = 'contact'>
    <div id="googleMap"> </div>

    <div class = 'data-block col-md-4'>
        <div class = 'data-block-header'> 
            E-Mail us at:
        </div>
        <div class="data-block-contents">
            <a href='mailto:mgfforex@gmail.com'> mgfforex@gmail.com </a>
        </div>
    </div>

    <div class = 'data-block col-md-4'>
        <div class = 'data-block-header'> 
            Address:
        </div>
        <div class="data-block-contents">
            <strong>Milan Gold and Forex Pvt. Ltd.</strong> <br>
            Shop No. 2, Om Shivam CHS <br>
            Tarun Bharat Society <br>
            Off Sahar Road, Near Cigarette Factory <br>
            Chakala, Andheri (East) <br>
            Mumbai, India <br>
            Pin Code: 400 099
        </div>
    </div>

    <div class = 'data-block col-md-4'>
        <div class = 'data-block-header'> 
            Call us at: 
        </div>
        <div class="data-block-contents">
            022 2836 7017 <br>
            022 2836 7017
        </div>
    </div>
</div>


<script>
    function initMap() {
        var mgfCoordinates = {
                lat: 19.107644, 
                lng: 72.8596134
            };
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 16,
            center: mgfCoordinates
        });
        var marker = new google.maps.Marker({
        position: mgfCoordinates,
        map: map
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>