<link rel = "stylesheet/less" type = "text/css" href = "templates/gold_coins.less" />
<script src="js/less.min.js" type="text/javascript"></script>

<div class="content-header">
    Gold coins for investment 
</div>
<div class="content-body">
    Of all the precious metals, gold is the most popular as an investment. Gold can be easily 
    converted into cash anywhere in the world and it tends to maintain its value over time.
</div>

<div class="content-header">
    When is gold an appropriate gift? 
</div>
<div class="content-body">
    <p>
        Gifting precious metals like Gold & Silver coins is considered as a token of love, trust and appreciation.
        Traditionally, Gold Coins are given as wedding gifts, and also are given to newborns. 
    </p>
    <p>
        There is no better start for a couple just getting married, than to receive some gold 
        as a savings for future use. 
    </p>
    <p>
        Graduations are also an appropriate time, as that's when a young person starts 
        out in the world, and shouldn't have to do so empty-handed. 
    </p>
</div>
<div class="content-header">
    What do we do?
</div>
<div class="content-body">
    <p>
        We sell Gold and Silver coins/bars made by RSBL and NIBR of various denominations ranging 
        from 1 gm to 100 gm. The design and packaging can be customised as per the occasion, making it the 
        perfect gift for friends and family.
    </p>
    <p>
        To buy Gold Coins or know more about them, <a href="#Contact">Contact us</a>.
    </p>
</div>