<link rel = "stylesheet/less" type = "text/css" href = "templates/money_transfer.less" />
<script src="js/less.min.js" type="text/javascript"></script>

<div class="content-header">
    What is Western Union?
</div>
<div class="content-body">
    <p>
        Western Union is a Financial services corporation that specializes in the transfer of money from 
        one location to another location.
    </p>
    <p>
        The company is based out of the United States, but processes 
        financial transactions from across the world. Individuals deposit money at one of the company's 
        kiosks and then the receiver is able to pick-up the funds at another branch.
    </p>
</div>

<div class="content-header">
    How does the Money Transfer work?
</div>

<div class="content-body">
    <p>
        In order to send funds, a sender goes to a Western Union office and presents funds (plus fees) 
        for "Next Day" or "Money in Minutes" service. The sender provides his or her name and address, the 
        recipient's name, and a designated payment destination. 
    </p>
    <p>
        Western Union then provides the sender a 10-digit Money Transfer Control Number (MTCN) that the 
        sender must provide to the recipient. The recipient then proceeds to a Western Union agent office 
        in the designated payment location, presents the 10-digit MTCN, and a photo ID. Money is then paid 
        out to the recipient.
    </p>
</div>
<div class="content-header">
    What do we do?
</div>
<div class="content-body">
    <p>
        We are one of the authorized Western Union Money Transfer. To use or know more about any 
        of the Money Transfer services provided by Western Union, just contact us via Phone, EMail or visit us.
    </p>
    <p>
        <a href="#Contact">Contact us</a> to get more information about Money Transfer.
    </p>
</div>