<link rel = "stylesheet/less" type = "text/css" href = "templates/services_overview.less" />
<script src="js/less.min.js" type="text/javascript"></script>

<div id = "services_overview" data-ng-repeat="service in services">
    <div class="col-md-6" ng-click = "init(service)">
        <div class="panel panel-default clickable">
            <div class="panel-heading panel-title">
                {{ service.title }}
            </div>
            <div class="panel-body">
                <img ng-src="{{ service.image_url }}" style='width: 100%; object-fit: contain'>
            </div>
        </div>
    </div>
</div>
