<link rel = "stylesheet/less" type = "text/css" href = "templates/travel_cards.less" />
<script src="js/less.min.js" type="text/javascript"></script>

<div class="content-header">
    What is a travel card?
</div>
<div class="content-body">
    Travel cards are a popular, convenient and secure way to buy foreign currency and take it 
    overseas. Essentially, travel money cards are specially designed debit cards that you load 
    up with foreign currencies prior to travelling.
</div>

<div class="content-header">
    Why use a prepaid travel card?
</div>
<div class="content-body">
    <p>
        It’s safer. A prepaid card is similar to having cash on you but it’s safer than carrying 
    around too much or leaving it in your hotel even if it’s in the room safe.</p>
    
    <p>
        Once abroad, you can reload your card or change the currencies around via the internet or 
        your mobile phone. You can use your card to withdraw cash from ATMs, shop for souvenirs, 
        pay for restaurant meals or book accommodation online.
    </p>
</div>

<div class="content-header">
    What do we do?
</div>
<div class="content-body">
    <p>
        We provide Travel Cards of various banks. We also help in recharging your travel card, even when 
        you are away from the country.
    </p>
    <p> 
        <a href="#Contact">Contact us</a> to get more information about Travel Cards.
    </p>
</div>