<div class = 'about'>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"> Experience </h3>
                </div>
                <div class="panel-content">
                    <ul>
                        <li> RBI Authorised Money Changers </li>
                        <li> More than 10 years in Foreign Exchange </li>
                        <li> Serving more than 1000 customers, every Month! </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"> Best Services </h3>
                </div>
                <div class="panel-content">
                    <ul>
                        <li>Best exchange rates!</li>
                        <li>Easy and hassle-free documentation</li>
                        <li>Delivery/PickUp service</li>
                        <li>Open from Monday to Saturday, 9am to 9pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"> Multiple Options </h3>
                </div>
                <div class="panel-content">
                    <ul>
                        <li>Buy/Sell more than 50 currencies</li>
                        <li>Choose from Cash or Multi-currency Forex Cards</li>
                        <li>Multiple modes of payment.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="photo-grid">
        <div class="photo-grid-header">
            Our Team
        </div>
        <div class="photo-grid-data">
            <div class = 'photo-grid-cell'>
                <div class="image">
                    <img src="/images/director_placeholder.jpg">
                </div>
                <div class="data">
                    Mr. Bherulal Parekh<br>
                    Director<br>
                    +91 98200 20401
                </div>
            </div>

            <div class = 'photo-grid-cell'>
                <div class="image">
                    <img src="/images/director_placeholder.jpg">
                </div>
                <div class="data">
                    Mr. Nirmal Parekh<br>
                    Director<br>
                    +91 98696 15851
                </div>
            </div>
        </div>
    </div>
</div>