<div class="content-header">
    What to look out for?
</div>
<div class="content-body">
    <p>
        <strong>Sell rate</strong> – this is the rate at which we sell foreign currency in exchange for local 
        currency. For example, if you were heading to Canada, you would exchange your currency 
        for Canadian dollars at the sell rate. 
    </p>
    <p>
        <strong>Buy rate</strong> – this is the rate at which we buy foreign currency back from travellers to 
        exchange into local currency. For example, if you were returning from America, we would 
        exchange your dollars back into euros at the buy rate. 
    </p>
</div>

<div class="content-header">
    How do we help?
</div>
<div class="content-body">
    <p>
        Dealing with money can be complicated at the best of times, but in the rush to get away, 
        or while you are abroad, changing your travel money can be tricky.
    </p>
    <p>
        This is especially true as there are a number of unfamiliar terms and phrases connected 
        with the foreign currency exchange process.
    </p>
    <p>
        We provide services to simplify this process for our customers and provide easy steps for 
        buying/selling currency of most of the countries across the world.
    </p>
    <p>
        To use our online Currency Converter and updated rates, visit our <a href="#ExchangeRates">Online Converter</a>.
    </p>
    <p>
        To get more information about the Buy/Sell rates or getting your money exchanged, <a href="#Contact">Contact us</a>.
    </p>
</div>